@import "tailwindcss";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


.nav-icon-btn{
  @apply h-[30px] w-[35px] text-[#FCCE4E]
}

.custom-bullet {
  width: 10px;
  height: 10px;
  background-color: #D4BBA5;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
}
.custom-bullet-active {
  background-color: #8A5529;
  opacity: 1;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}